/* ------------------------------------------------ */
/* CSS : styles related to how we put this on pages */
/* ------------------------------------------------ */


/* ------------------ Page size ---------------- */
@page {
  size: 8.5in 11in; /* var(--pagedjs-width) doesn't work in browser when printing */
}
@page :blank { /*  Doesn't seem to work as intended.  Used, e.g., .pagedjs_maincontent_first_page { display:none }; to remove blank pages*/
  @bottom-center {
    content: none !important;
  }
}


/* --------------------- Handle recto and verso pages ---------------- */
html {
  line-height: 1.3;
}

.pagedjs_pagebox * {
    box-sizing: border-box;
}

/* store some string variables */
.shorttitle1 {
  string-set: h1-text content(text);
}

.shorttitle2 {
  string-set: h2-text content(text);
}

/* left page */
.running-h1-title {
  position: running(runningH1Title);
  width: var(--running-title-width);
  text-overflow: ellipsis;
  overflow: hidden;
}
.running-h1-title:before {
  content: string(h1-text);
}


/* right page */
.running-h2-title {
  position: running(runningH2Title);
  width: var(--running-title-width);
  text-overflow: ellipsis;
  overflow: hidden;
}
.running-h2-title:before {
  /* We would want to write: */
  /* content: string(h2-text, start); */
  /* However, this is yet unsupported by Paged.js, see https://gitlab.pagedmedia.org/tools/pagedjs/issues/38 */
  content: string(h2-text);
}


/* --------------------- Page style ----------------------- */
/* Add colorbar to all pages (first and last are overriden later) */
@page {
  background-image: url(../images/footer-bar.svg);
  background-position: bottom 0in left;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Front cover */
.front-cover {
  break-after: page;
}

/* Front page or title page */
.front-page {
  counter-reset: page 0;
}

/* page breaks; aka CSS fragmentation */
.level1 {
  break-before: page;
}

.section > h1, .section > h2, .section > h3, .section > h4, .section > h5, .section > h6 {
  break-after: avoid;
}
.footnotes {
  break-before: always;
  break-after: always;
}
.figure {
  break-inside: avoid;
}

/* reset page numbering for main content */
.main .level1:first-child h1 {
  counter-reset: page 1;
}

/* do not break captions */
caption {
  break-inside: avoid;
  break-after: avoid;
}


/* --------------------- Cover Page ------------------ */
@page:first{ /**/
  background-image: url(../images/nciea-appendix-cover.svg); /* var(--back-cover); */
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  @top-left {
    content: none;
  }
  @top-right {
    content: none;
  }
  @bottom-center {
    content: none !important;
  }
}


/* ---------------------- Front Matter ----------------- */

.front-matter-container {
	page: frontmatter;
}

@page frontmatter {
  @bottom-center {
      content: "- " counter(page, lower-roman) " -";
      color: #279F27;
      margin-top: 1.8cm;
      margin-bottom: 1cm;
      font-size: 9pt;
      font-weight: bold;
  }
}

.pagedjs_frontmatter_first_page {
  display:none;
}

/* ---------------------- Main Content ----------------- */

.main {
	page: maincontent;
}

@page maincontent {
  @bottom-center {
      content: var(--appendix-prefix, "A") " - " counter(page);
      color: #279F27;
      margin-top: 1.8cm;
      margin-bottom: 1cm;
      font-size: 9pt;
      font-weight: bold;
  }
}

.pagedjs_maincontent_first_page {
  display:none;
}

/* ---------------------- Last page ----------------- */

/* .pagedjs_page:last-of-type {
  display:none;
} */
.pagedjs_page:last-of-type {
  visiblity: hidden;
  /* background-image: url(../images/CFA_Logo.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.25; */
}

/* avoid supplementary blank page */
.page-content div {
    width: auto !important;
    max-width: 99%;
}

/* ------------------ Table of Contents/Figures/Tables formatting ----------------- */
/* TOC title */
.toc-title, .lof h1, .lot h1 {
  font-size: 24pt;
  font-weight: 900;
  background-color: #ffffff;
/*  color: #FF0000; */
  color: #279F27;
}

/* spacing between elements + no underline */
.toc a, .lof a, .lot a{
  line-height: 30px;
  text-decoration: none;
}

/* to remove the bullets + cut the dots at the end --> took it back from default.css */
.toc ul, .lof ul, .lot ul {
    list-style: none;
    padding-left: 0;
    overflow-x: hidden;
}

.toc li li, .lof li li, .lot li li {
  padding-left: 1em;
}

/* here each level contain the following one so we have to override the properties */
/* first level */
.toc ul > li > a, .lof ul > li > a, .lot ul > li > a  {
  font-weight: 500;
}

/* second level and more */
.toc ul > li > ul > li > a {
  font-weight: 300;
}

/* third level */
.toc > ul > li > ul > li > ul > li > a {
  font-weight: 300;
}

/* background color */
.toc ul, .toc a, .toc a::after, .lof ul, .lof a, .lof a::after, .lot ul, .lot a, .lof a::after   {
  background-color: #ffffff;
}


/* --------------------- Columns ------------------- */
.left-column {
  float: left;
  width: 3in;
}

.right-column {
  float: right;
  width: 3in;
}


/* -------------------- Pull quotes ---------------- */
.pull-quote {
  float: right;
  width: 2.5in;
}

.pull-quote p {
  font-size: 16pt;
}
